.container {
  position: relative;
  height: 120px;
  width: 100%;
}

input {
  box-sizing: border-box;
  height: 50px;
  width: 400px;
  border: 4px solid #000;
  border-radius: 50%;
  background: none;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  outline: 0;
}

.square {
  box-sizing: border-box;
  padding: 0 40px 0 10px;
  width: 400px;
  height: 50px;
  border: 4px solid #000;
  border-radius: 0;
  background: none;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  outline: 0;
}
